mainmenu "mr-library"

menu "System configure"
    # Assert
    config MR_USING_ASSERT
        bool "Use assert"
        default y
        help
            "Use this option allows the use of assert statements in the code."

    # Heap
    config MR_CFG_HEAP_SIZE
        int "Heap size (Bytes)"
        default 4096
        range 32 2147483647
        help
            "This option sets the size of the heap used by the library."

    # Log
    menu "Log configure"
        config MR_USING_LOG_ERROR
            bool "Use error log"
            default y
            help
                "Use this option allows for the use of error log."

        config MR_USING_LOG_WARN
            bool "Use warning log"
            default y
            help
                "Use this option allows for the use of warning log."

        config MR_USING_LOG_INFO
            bool "Use info log"
            default y
            help
                "Use this option allows for the use of info log."

        config MR_USING_LOG_DEBUG
            bool "Use debug log"
            default y
            help
                "Use this option allows for the use of debug log."

        config MR_USING_LOG_SUCCESS
            bool "Use success log"
            default y
            help
                "Use this option allows for the use of success log."

        config MR_USING_LOG_COLOR
            bool "Use print color log"
            default n
            help
                "Use this option allows for the use of print color log."
    endmenu

    # Printf
    menu "Printf configure"
        config MR_CFG_PRINTF_BUFSZ
            int "Printf buffer size"
            default 128
            range 32 2147483647
            help
                "This option sets the buffer size used by the printf function."

        config MR_CFG_PRINTF_DEV_NAME
            string "Printf device name"
            default "serial1"
            help
                "This option sets the name of the device used by the printf function."

        config MR_USING_PRINTF_NONBLOCKING
            bool "Use printf non-blocking"
            default n
            help
                "Use this option allows for the use of the printf device non-blocking."
    endmenu
endmenu

# Device
source "device/Kconfig"

# Driver
source "driver/Kconfig"

# Components
source "components/Kconfig"
