menu "UART driver configure"
    # Use Serial
    if MR_USE_SERIAL
        # UART1
        config MR_USE_UART1
            bool "Use uart1 driver"
            default n
    
        menu "UART1 driver configure"
            depends on MR_USE_UART1
    
            config MR_CFG_UART1_GROUP
                int "Uart1 group"
                default 1
                range 1 4
        endmenu
    
        # UART2
        config MR_USE_UART2
            bool "Use uart2 driver"
            default n
    
        menu "UART2 driver configure"
            depends on MR_USE_UART2
    
            config MR_CFG_UART2_GROUP
                int "Uart2 group"
                default 1
                range 1 2
        endmenu
    
        # UART3
        config MR_USE_UART3
            bool "Use uart3 driver"
            default n
    
        menu "UART3 driver configure"
            depends on MR_USE_UART3
    
            config MR_CFG_UART3_GROUP
                int "Uart3 group"
                default 1
                range 1 4
        endmenu
    
        # UART4
        config MR_USE_UART4
            bool "Use uart4 driver"
            default n
    
        menu "UART4 driver configure"
            depends on MR_USE_UART4
    
            config MR_CFG_UART4_GROUP
                int "Uart4 group"
                default 1
                range 1 3
        endmenu
    
        # UART5
        config MR_USE_UART5
            bool "Use uart5 driver"
            default n
    
        menu "UART5 driver configure"
            depends on MR_USE_UART5
    
            config MR_CFG_UART5_GROUP
                int "Uart5 group"
                default 1
                range 1 3
        endmenu
    
        # UART6
        config MR_USE_UART6
            bool "Use uart6 driver"
            default n
    
        menu "UART6 driver configure"
            depends on MR_USE_UART6
    
            config MR_CFG_UART6_GROUP
                int "Uart6 group"
                default 1
                range 1 3
        endmenu
    
        # UART7
        config MR_USE_UART7
            bool "Use uart7 driver"
            default n
    
        menu "UART7 driver configure"
            depends on MR_USE_UART7
    
            config MR_CFG_UART7_GROUP
                int "Uart7 group"
                default 1
                range 1 3
        endmenu
    
        # UART8
        config MR_USE_UART8
            bool "Use uart8 driver"
            default n
    
        menu "UART8 driver configure"
            depends on MR_USE_UART8
    
            config MR_CFG_UART8_GROUP
                int "Uart8 group"
                default 1
                range 1 3
        endmenu
    endif

    # Unused serial prompt
    if !MR_USE_SERIAL
        comment "Please enable serial device first"
    endif
endmenu
