menu "Adc driver configure"
    # Use ADC
    if MR_USE_ADC
        # ADC1
        config MR_USE_ADC1
            bool "Use adc1 driver"
            default n
    
        # ADC2
        config MR_USE_ADC2
            bool "Use adc2 driver"
            default n
    endif

    # Unused adc prompt
    if !MR_USE_ADC
        comment "Please enable adc device first"
    endif
endmenu
