menu "Serial configure"

    # Serial
    config MR_USE_SERIAL
        bool "Use serial"
        default n
        help
            Use this option allows for the use of serial.

    config MR_CFG_SERIAL_RD_FIFO_SIZE
        depends on MR_USE_SERIAL
        int "Serial read fifo size"
        range 0 2147483647
        default 128
        help
            This option sets the size of the read FIFO.

    config MR_CFG_SERIAL_WR_FIFO_SIZE
        depends on MR_USE_SERIAL
        int "Serial write fifo size"
        range 0 2147483647
        default 0
        help
            This option sets the size of the write FIFO.

    # DMA
    config MR_USE_SERIAL_DMA
        depends on MR_USE_SERIAL
        bool "Use serial dma"
        default n
        help
            Use this option allows for the use of serial DMA.

    config MR_CFG_SERIAL_RD_DMA_FIFO_SIZE
        depends on MR_USE_SERIAL_DMA
        int "Serial read dma fifo size"
        range 0 2147483647
        default 128
        help
            This option sets the size of the read DMA FIFO.

    config MR_CFG_SERIAL_WR_DMA_FIFO_SIZE
        depends on MR_USE_SERIAL_DMA
        int "Serial write dma fifo size"
        range 0 2147483647
        default 128
        help
            This option sets the size of the write DMA FIFO.

    # AIO
    config MR_USE_SERIAL_AIO_EXT
        depends on MR_USE_SERIAL and MR_USE_AIO_EXT
        bool "Use serial extended AIO"
        default n
        help
            This option uses extended asynchronous I/O

endmenu