menu "Serial configure"

    # Serial
    config MR_USE_SERIAL
        bool "Use serial"
        default n
        help
            Use this option allows for the use of serial.

    config MR_CFG_SERIAL_RD_FIFO_SIZE
        depends on MR_USE_SERIAL
        int "Serial read FIFO size"
        range 0 2147483647
        default 128
        help
            This option sets the size of the read FIFO.

    config MR_CFG_SERIAL_WR_FIFO_SIZE
        depends on MR_USE_SERIAL
        int "Serial write FIFO size"
        range 0 2147483647
        default 0
        help
            This option sets the size of the write FIFO.

    # DMA
    config MR_USE_SERIAL_DMA
        depends on MR_USE_SERIAL
        bool "Use serial DMA"
        default n
        help
            Use this option allows for the use of serial DMA.

    config MR_CFG_SERIAL_RD_DMA_FIFO_SIZE
        depends on MR_USE_SERIAL_DMA
        int "Serial read DMA FIFO size"
        range 0 2147483647
        default 128
        help
            This option sets the size of the read DMA FIFO.

    config MR_CFG_SERIAL_WR_DMA_FIFO_SIZE
        depends on MR_USE_SERIAL_DMA
        int "Serial write DMA FIFO size"
        range 0 2147483647
        default 128
        help
            This option sets the size of the write DMA FIFO.

    # Async
    config MR_USE_SERIAL_ASYNC
        depends on MR_USE_SERIAL
        bool "Use serial async"
        default n
        help
            Use this option allows for the use of serial async.

endmenu