menu "Components configure"

    # Msh
    config MR_USING_MSH
        bool "Use msh"
        default n
        help
            "Use this option allows for the use of the shell."

    menu "Msh configure"
        depends on MR_USING_MSH
        config MR_CFG_MSH_BUFSZ
            int "Msh buffer size"
            default 32
            range 16 1024
            help
                "This option sets the buffer size used by the shell."

        config MR_CFG_MSH_NAME_MAX
            int "Msh command name max length"
            default 8
            range 8 64
            help
                "This option sets the max length of the command name."

        config MR_CFG_MSH_ARGS_MAX
            int "Msh argument max number"
            default 4
            range 1 16
            help
                "This option sets the max number of arguments."

        config MR_CFG_MSH_PROMPT
            string "Msh prompt"
            default "msh>"
            help
                "This option sets the prompt of the shell."

        config MR_USING_MSH_ECHO
            bool "Use msh echo"
            default y
            help
                "Use this option allows for the use of the echo in the msh."
    endmenu

endmenu