config MR_USING_MSH
    bool "Use msh component"
    default n
    help
        "Use this option allows for the use of the shell."
menu "Msh configure"
    depends on MR_USING_MSH

    config MR_CFG_MSH_BUFSZ
        int "Msh buffer size"
        default 32
        range 16 1024
        help
            "This option sets the buffer size used by the shell."

    config MR_CFG_MSH_ARGS_NUM
        int "Msh argument max number"
        default 16
        range 4 64
        help
            "This option sets the max number of arguments."

    config MR_CFG_MSH_HISTORY_LINES
        int "Msh history max lines"
        default 4
        range 1 64
        help
            "This option sets the max number of history lines."

    config MR_CFG_MSH_DEV_NAME
        string "Msh device name"
        default "serial1"
        help
            "This option sets the name of the device used by the shell."

    config MR_CFG_MSH_NONBLOCKING
        bool "Use msh non-blocking"
        default n
        help
            "Use this option allows for the use of the shell non-blocking."

    config MR_CFG_MSH_PRINTF_BUFSZ
        int "Printf buffer size"
        default 128
        range 32 2147483647
        help
            "This option sets the buffer size used by the printf function."

    config MR_CFG_MSH_PROMPT
        string "Msh prompt"
        default "msh"
        help
            "This option sets the prompt of the shell."

    config MR_USING_MSH_PRINTF_COLOR
        bool "Use msh printf color"
        default n
        help
            "This option allows for the use of the printf color in the msh."

    config MR_USING_MSH_ECHO
        bool "Use msh echo"
        default y
        help
            "Use this option allows for the use of the echo in the msh."

    config MR_USING_MSH_DEV_CMD
        bool "Use msh device cmd"
        default y
        help
            "Use this option allows for the use of the device cmd in the msh."

    config MR_USING_
endmenu