menu "ADC configure"
    config MR_USE_ADC
        bool "Use adc"
        default y
        help
            "Use this option allows for the use of adc."

    # Check
    config MR_USE_ADC_CHECK
        depends on MR_USE_ADC
        bool "Use adc check"
        default y
        help
            "This option allows for the use of adc check."
endmenu
