menu "ADC configure"

    # ADC
    config MR_USE_ADC
        bool "Use ADC"
        default n
        help
            Use this option allows for the use of ADC.

    config MR_USE_ADC_CHECK
        depends on MR_USE_ADC
        bool "Use ADC check"
        default y
        help
            This option allows for the use of ADC check.

endmenu