menu "PWM configure"

    # PWM
    config MR_USE_PWM
        bool "Use PWM"
        default n
        help
            Use this option allows for the use of PWM.

    config MR_USE_PWM_CHECK
        bool "Use PWM check"
        default y
        help
            This option allows for the use of PWM check.

endmenu