menu "Serial driver configure"
    # Use Serial
    if MR_USE_SERIAL
        # SERIAL1
        config MR_USE_SERIAL1
            bool "Use serial1 driver"
            default n
    
        menu "Serial1 driver configure"
            depends on MR_USE_SERIAL1
    
            config MR_CFG_SERIAL1_GROUP
                int "Serial1 group"
                default 1
                range 1 4

            config MR_USE_SERIAL1_DMA
                depends on MR_USE_SERIAL_DMA
                bool "Use serial1 dma"
                default y
        endmenu
    
        # SERIAL2
        config MR_USE_SERIAL2
            bool "Use serial2 driver"
            default n
    
        menu "Serial2 driver configure"
            depends on MR_USE_SERIAL2
    
            config MR_CFG_SERIAL2_GROUP
                int "Serial2 group"
                default 1
                range 1 2

            config MR_USE_SERIAL2_DMA
                depends on MR_USE_SERIAL_DMA
                bool "Use serial2 dma"
                default y
        endmenu
    
        # SERIAL3
        config MR_USE_SERIAL3
            bool "Use serial3 driver"
            default n
    
        menu "Serial3 driver configure"
            depends on MR_USE_SERIAL3
    
            config MR_CFG_SERIAL3_GROUP
                int "Serial3 group"
                default 1
                range 1 4

            config MR_USE_SERIAL3_DMA
                depends on MR_USE_SERIAL_DMA
                bool "Use serial3 dma"
                default y
        endmenu
    
        # SERIAL4
        config MR_USE_SERIAL4
            bool "Use serial4 driver"
            default n
    
        menu "Serial4 driver configure"
            depends on MR_USE_SERIAL4
    
            config MR_CFG_SERIAL4_GROUP
                int "Serial4 group"
                default 1
                range 1 3

            config MR_USE_SERIAL4_DMA
                depends on MR_USE_SERIAL_DMA
                bool "Use serial4 dma"
                default y
        endmenu
    
        # SERIAL5
        config MR_USE_SERIAL5
            bool "Use serial5 driver"
            default n
    
        menu "Serial5 driver configure"
            depends on MR_USE_SERIAL5
    
            config MR_CFG_SERIAL5_GROUP
                int "Serial5 group"
                default 1
                range 1 3

            config MR_USE_SERIAL5_DMA
                depends on MR_USE_SERIAL_DMA
                bool "Use serial5 dma"
                default y
        endmenu
    
        # SERIAL6
        config MR_USE_SERIAL6
            bool "Use serial6 driver"
            default n
    
        menu "Serial6 driver configure"
            depends on MR_USE_SERIAL6
    
            config MR_CFG_SERIAL6_GROUP
                int "Serial6 group"
                default 1
                range 1 3

            config MR_USE_SERIAL6_DMA
                depends on MR_USE_SERIAL_DMA
                bool "Use serial6 dma"
                default y
        endmenu
    
        # SERIAL7
        config MR_USE_SERIAL7
            bool "Use serial7 driver"
            default n
    
        menu "Serial7 driver configure"
            depends on MR_USE_SERIAL7
    
            config MR_CFG_SERIAL7_GROUP
                int "Serial7 group"
                default 1
                range 1 3

            config MR_USE_SERIAL7_DMA
                depends on MR_USE_SERIAL_DMA
                bool "Use serial7 dma"
                default y
        endmenu
    
        # SERIAL8
        config MR_USE_SERIAL8
            bool "Use serial8 driver"
            default n
    
        menu "Serial8 driver configure"
            depends on MR_USE_SERIAL8
    
            config MR_CFG_SERIAL8_GROUP
                int "Serial8 group"
                default 1
                range 1 3

            config MR_USE_SERIAL8_DMA
                depends on MR_USE_SERIAL_DMA
                bool "Use serial8 dma"
                default y
        endmenu
    endif

    # Unused serial prompt
    if !MR_USE_SERIAL
        comment "Please enable serial device first"
    endif
endmenu
