menu "Device configure"

    # Name
    config MR_CFG_DEVICE_NAME_MAX
        int "Device name max length"
        range 4 1024
        default 12
        help
            This option sets the max length of the device name.

    # Descriptors
    config MR_CFG_DESCRIPTOR_MAX
        int "Descriptors max number"
        range 8 4096
        default 128
        help
            This option sets the max number of descriptors.

    comment "--- Device ---"

    # ADC
    source "device/adc/Kconfig"

    # PIN
    source "device/pin/Kconfig"

    # PWM
    source "device/pwm/Kconfig"

    # Serial
    source "device/serial/Kconfig"

    # SPI
    source "device/spi/Kconfig"

    # Timer
    source "device/timer/Kconfig"

endmenu
