menu "Driver configure"

    menu "ADC"
        config MR_USING_ADC1
            bool "Enable ADC1 driver"
            default n

        config MR_USING_ADC2
            bool "Enable ADC2 driver"
            default n
    endmenu

    menu "DAC"
        config MR_USING_DAC1
            bool "Enable DAC1 driver"
            default n
    endmenu

    menu "I2C"
        config MR_USING_I2C1
            bool "Enable I2C1 driver"
            default n

        menu "I2C1 driver configure"
            depends on MR_USING_I2C1

            config MR_CFG_I2C1_GROUP
                int "I2C1 Group"
                default 1
                range 1 2
        endmenu

        config MR_USING_I2C2
            bool "Enable I2C2 driver"
            default n

        menu "I2C2 driver configure"
            depends on MR_USING_I2C2

            config MR_CFG_I2C2_GROUP
                int "I2C2 Group"
                default 1
                range 1 1
        endmenu
    endmenu

    menu "PWM"
        config MR_USING_PWM1
            bool "Enable PWM1 driver"
            default n

        menu "PWM1 driver configure"
            depends on MR_USING_PWM1

            config MR_CFG_PWM1_GROUP
                int "PWM1 Group"
                default 1
                range 1 3
        endmenu

        config MR_USING_PWM2
            bool "Enable PWM2 driver"
            default n

        menu "PWM2 driver configure"
            depends on MR_USING_PWM2

            config MR_CFG_PWM2_GROUP
                int "PWM2 Group"
                default 1
                range 1 4
        endmenu

        config MR_USING_PWM3
            bool "Enable PWM3 driver"
            default n

        menu "PWM3 driver configure"
            depends on MR_USING_PWM3

            config MR_CFG_PWM3_GROUP
                int "PWM3 Group"
                default 1
                range 1 3
        endmenu

        config MR_USING_PWM4
            bool "Enable PWM4 driver"
            default n

        menu "PWM4 driver configure"
            depends on MR_USING_PWM4

            config MR_CFG_PWM4_GROUP
                int "PWM4 Group"
                default 1
                range 1 2
        endmenu

        config MR_USING_PWM5
            bool "Enable PWM5 driver"
            default n

        menu "PWM5 driver configure"
            depends on MR_USING_PWM5

            config MR_CFG_PWM5_GROUP
                int "PWM5 Group"
                default 1
                range 1 1
        endmenu

        config MR_USING_PWM8
            bool "Enable PWM8 driver"
            default n

        menu "PWM8 driver configure"
            depends on MR_USING_PWM8

            config MR_CFG_PWM8_GROUP
                int "PWM8 Group"
                default 1
                range 1 2
        endmenu

        config MR_USING_PWM9
            bool "Enable PWM9 driver"
            default n

        menu "PWM9 driver configure"
            depends on MR_USING_PWM9

            config MR_CFG_PWM9_GROUP
                int "PWM9 Group"
                default 1
                range 1 3
        endmenu

        config MR_USING_PWM10
            bool "Enable PWM10 driver"
            default n

        menu "PWM10 driver configure"
            depends on MR_USING_PWM10

            config MR_CFG_PWM10_GROUP
                int "PWM10 Group"
                default 1
                range 1 3
        endmenu
    endmenu

    menu "UART"
        config MR_USING_UART1
            bool "Enable UART1 driver"
            default n

        menu "UART1 driver configure"
            depends on MR_USING_UART1

            config MR_CFG_UART1_GROUP
                int "UART1 Group"
                default 1
                range 1 4
        endmenu

        config MR_USING_UART2
            bool "Enable UART2 driver"
            default n

        menu "UART2 driver configure"
            depends on MR_USING_UART2

            config MR_CFG_UART2_GROUP
                int "UART2 Group"
                default 1
                range 1 2
        endmenu

        config MR_USING_UART3
            bool "Enable UART3 driver"
            default n

        menu "UART3 driver configure"
            depends on MR_USING_UART3

            config MR_CFG_UART3_GROUP
                int "UART3 Group"
                default 1
                range 1 4
        endmenu

        config MR_USING_UART4
            bool "Enable UART4 driver"
            default n

        menu "UART4 driver configure"
            depends on MR_USING_UART4

            config MR_CFG_UART4_GROUP
                int "UART4 Group"
                default 1
                range 1 3
        endmenu

        config MR_USING_UART5
            bool "Enable UART5 driver"
            default n

        menu "UART5 driver configure"
            depends on MR_USING_UART5

            config MR_CFG_UART5_GROUP
                int "UART5 Group"
                default 1
                range 1 3
        endmenu

        config MR_USING_UART6
            bool "Enable UART6 driver"
            default n

        menu "UART6 driver configure"
            depends on MR_USING_UART6

            config MR_CFG_UART6_GROUP
                int "UART6 Group"
                default 1
                range 1 3
        endmenu

        config MR_USING_UART7
            bool "Enable UART7 driver"
            default n

        menu "UART7 driver configure"
            depends on MR_USING_UART7

            config MR_CFG_UART7_GROUP
                int "UART7 Group"
                default 1
                range 1 3
        endmenu

        config MR_USING_UART8
            bool "Enable UART8 driver"
            default n

        menu "UART8 driver configure"
            depends on MR_USING_UART8

            config MR_CFG_UART8_GROUP
                int "UART8 Group"
                default 1
                range 1 3
        endmenu
    endmenu

    menu "SPI"
        config MR_USING_SPI1
            bool "Enable SPI1 driver"
            default n

        menu "SPI1 driver configure"
            depends on MR_USING_SPI1

            config MR_CFG_SPI1_GROUP
                int "SPI1 Group"
                default 1
                range 1 2
        endmenu

        config MR_USING_SPI2
            bool "Enable SPI2 driver"
            default n

        menu "SPI2 driver configure"
            depends on MR_USING_SPI2

            config MR_CFG_SPI2_GROUP
                int "SPI2 Group"
                default 1
                range 1 1
        endmenu

        config MR_USING_SPI3
            bool "Enable SPI3 driver"
            default n

        menu "SPI3 driver configure"
            depends on MR_USING_SPI3

            config MR_CFG_SPI3_GROUP
                int "SPI3 Group"
                default 1
                range 1 2
        endmenu

    endmenu

    menu "Timer"
        config MR_USING_TIMER1
                    bool "Enable Timer1 driver"
                    default n

        config MR_USING_TIMER2
                        bool "Enable Timer2 driver"
                        default n

        config MR_USING_TIMER3
                    bool "Enable Timer3 driver"
                    default n

        config MR_USING_TIMER4
                    bool "Enable Timer4 driver"
                    default n

        config MR_USING_TIMER5
                    bool "Enable Timer5 driver"
                    default n

        config MR_USING_TIMER6
                    bool "Enable Timer6 driver"
                    default n

        config MR_USING_TIMER7
                    bool "Enable Timer7 driver"
                    default n

        config MR_USING_TIMER8
                    bool "Enable Timer8 driver"
                    default n

        config MR_USING_TIMER9
                    bool "Enable Timer9 driver"
                    default n

        config MR_USING_TIMER10
                    bool "Enable Timer10 driver"
                    default n
    endmenu

endmenu
