menu "System configure"
    # Heap
    config MR_CFG_HEAP_SIZE
        int "Heap size (bytes)"
        default 4096
        range 32 2147483647
        help
            This option sets the size of the heap used by the library.

endmenu